body{ overflow-x: hidden;}

.btn-hamburguer {
    cursor: pointer;
}

.btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.5s ease-out;
}

.btn-hamburguer.close {
    transform: rotate(180deg);
}

.btn-hamburguer.close .btn-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.btn-hamburguer.close .btn-line:nth-child(2) {
    opacity: 0;
}

.btn-hamburguer.close .btn-line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

a {
    color: #fff;
    display: inline-block;
}

a:hover {
    color:#ffccbc;
}
tr, input, select{
    cursor: pointer;
}